body {
  font-family: "Ubuntu", sans-serif;
  background-color: #f0f4ff;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #2a2185;
  color: white;
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
}

h2 {
  color: #2a2185;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table,
th,
td {
  border: 1px solid #4a90e2;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #2a2185;
  color: white;
}

tr:nth-child(even) {
  background-color: #e1f5fe;
}

footer {
  background-color: #2a2185;
  color: white;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}
